<footer class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Sollento market</h5>
				<p class="grey-text text-lighten-4">Мы рады видеть вас в нашем интернет-магазине. У нас вы найдете для себя лучших помошников в сдаче экзаменов, контрольных и самостоятельных работ.</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text">Меню</h5>
				<ul>
					<li><a class="grey-text text-lighten-3" href="">Главная</a></li>
					<li><a class="grey-text text-lighten-3" href="">Каталог</a></li>
					<li><a class="grey-text text-lighten-3" href="">Новости</a></li>
					<li><a class="grey-text text-lighten-3" href="">Контакты</a></li>
					<li><a class="grey-text text-lighten-3" href="">О нас</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© 2018 Copyright Text
			<a class="grey-text text-lighten-4 right" href="#!">Сайт разработан на Symfony 3</a>
		</div>
	</div>
</footer>