<div class="sidenav" id="mobile-demo">
	<ul class="sidenav-menu">
		<li><a href="" class="brand-logo">Sollento</a></li>
		<li><a href="{{ path('homepage-action') }}"><i class="material-icons">home</i>Главная</a></li>
		<li class="active"><a href="{{ path('catalog-page-action') }}"><i class="material-icons">apps</i>Каталог</a></li>
		<li><a href="{{ path('news-page-action') }}"><i class="material-icons">content_paste</i>Новости</a></li>
		<li><a href=""><i class="material-icons">local_phone</i>Контакты</a></li>
		<li><a href=""><i class="material-icons">people</i>О нас</a></li>
	</ul>
	<div class="sidenav-cart-block">
		<div class="container">
			<div class="sidenav-cart-button center">
				<a class="btn-floating btn-large waves-effect waves-light pulse">
					<i class="material-icons">shopping_cart</i>
				</a>
			</div>
			<div class="sidenav-cart-information center-align">
				<span class="sidenav-cart-count">12 </span>
				<span class="sidenav-cart-products">товаров</span>
				<span class="sidenav-cart-other-information">в вашей корзине</span>
			</div>
			<div class="sidenav-cart-going center">
				<button class="btn waves-effect waves-light">Перейти
				</button>
			</div>
		</div>
	</div>
	<div class="sidenav-block-bottom">
		<div class="container">
			<div class="sidenav-sitemap">
				<a href="">Карта сайта</a>
			</div>
			<div class="sidenav-address">
				г.Минск ул.Рафиева 52-48, Офис 902
			</div>
			<div class="sidenav-copyright">
				© 2009-2019 iMedia.by
			</div>
		</div>
	</div>
</div>