// General style and main styles for catalog page

//Fonts
@font-face {
  font-family: "mainFont";
  src: url("web/assets/fonts/Proxima_Nova_Black.woff") format('woff');
}

// Color
@import "../libs/materialize-sass/sass/components/color-variables";
@import "../libs/materialize-sass/sass/components/color-classes";

// Variables;
@import "../libs/materialize-sass/sass/components/variables";

body {
  //background: #f7f7f7;
  background: #f5f5f5;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background-color: $site-color-more-bright;
  z-index: 2000;
}

//.preloader {
//  position: fixed;
//  left: 0;
//  top: 0;
//  width: 100%;
//  height: 100%;
//  background: white;
//  z-index: 10000;
//  transition: 1s;
//  opacity: 1;
//  visibility: visible;
//  &.done {
//    opacity: 0;
//    visibility: hidden;
//  }
//  .loader {
//    width: 75px;
//    height: 75px;
//    border: 6px solid #eebcbc;
//    border-radius: 50%;
//    border-top-color: $site-color;
//    position: absolute;
//    left: 50%;
//    top: 50%;
//    transform: translate(-50%, -50%);
//    animation: .7s preloader infinite linear;
//  }
//}

@media only screen and (max-width: 992px) {
  //.preloader {
  //  .loader {
  //    width: 55px;
  //    height: 55px;
  //    border: 5px solid #eebcbc;
  //    border-radius: 50%;
  //    border-top-color: $site-color;
  //    position: absolute;
  //    left: 50%;
  //    top: 50%;
  //    transform: translate(-50%, -50%);
  //    animation: .7s preloader infinite linear;
  //  }
  //}
}
@media only screen and (min-width: 992px) {
  #cartModal .modal-content {
    #firstStep, #secondStep, #thirdStep{
      padding: 10px 30px 30px 30px;
    }
  }
}
@keyframes preloader {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.wrapper {
  flex: 1 0 auto;
}

.header {
  #secondStep {
    .row.row-name-phone {
      margin-top: 10px;
    }
    .row.row-with-tabs {
      margin: -20px 0 0 0;
      .cart-tabs {
        li.tab {
          width: 50%;
        }
      }
    }
  }
  #cartModal {
    width: 80%;
    min-height: 450px;
    .modal-footer {
      background: #efefef;
      height: 65px;
      .tabs {
        width: 40%;
        position: absolute;
        bottom: 18%;
        background: transparent;
        left: 28%;
        li {
          width: 32%;
          &.disabled {
            pointer-events: none;
          }
          a {
            font-size: 22px;
            font-family: mainFont, sans-serif;
          }
        }
      }
      .modal-steps {
        width: 55%;
        position: absolute;
        bottom: 30%;
        left: 15%;
        span {
          font-size: 18px;
          color: #d18087;
          border-bottom: 2px solid #CA4F4A;
        }
      }
      .button-left {
        float: left;
        i.material-icons {
          position: absolute;
          left: 0;
          top: 22%;
          font-size: 33px;
          padding-left: 15px;
        }
        a {
          padding: 4px 45px;
          font-size: 16px;
          font-family: mainFont, sans-serif;
        }
      }
      .button-right {
        float: right;
        i.material-icons {
          font-size: 33px;
          position: absolute;
          right: 0;
          top: 22%;
          padding-right: 15px;
        }
        a {
          padding: 4px 45px;
          font-size: 16px;
          font-family: mainFont, sans-serif;
        }
      }
    }
    .modal-content {
      .modal-header {
        position: fixed;
        width: 100%;
        z-index: 1000;
        padding: 15px;
        background: $site-color;
        height: 82px;
        h3 {
          font-size: 33px;
          margin-left: 55px;
          color: whitesmoke;
          font-family: mainFont, sans-serif;
          display: inline-block;
        }
        h6.step-info {
          display: inline-block;
          padding-left: 25px;
          color: whitesmoke;
          font-size: 20px;
        }
        i.material-icons.icon-in-header {
          position: absolute;
          font-size: 35px;
          color: whitesmoke;
          left: 25px;
        }
        i.material-icons.modal-close {
          position: absolute;
          right: 0;
          color: whitesmoke;
          top: 0;
          font-size: 36px;
          cursor: pointer;
          padding: 1.3% 2% 2% 2%;
        }
      }
      .cart-content {
        margin-top: 75px;
        .row.head-row {
          h3.cart-head-caption {
            font-size: 20px;
            font-family: mainFont, sans-serif;
            margin: 0;
            padding: 20px 15px 15px 0;
            text-align: center;
          }
        }
        .row.product-row {
          .row.margin-min {
            margin-bottom: 5px !important;
          }
          .count-price-on-mobile {
            padding-left: 20px;
            .count-of-product-mobile {
              display: inline-block;
              span {
                padding-left: 10px;
                font-size: 16px;
              }
            }
            .price-of-product-mobile {
              display: inline-block;
              span {
                font-size: 20px;
                color: #d18087;
                font-family: mainFont, sans-serif;
              }
            }
          }
          .image-in-cart {
            img {
              width: 100%;
            }
          }
          .name-of-product {
            h5 {
              margin: 10px 0 0 0;
              font-size: 20px;
            }
            p {
              margin: 7px 7px 7px 0;
            }
          }
          .count-of-product {
            text-align: center;
            margin-top: 25px;
            span {
              display: block;
              border-radius: 50%;
              width: 55px;
              height: 55px;
              line-height: 55px;
              font-size: 24px;
              font-family: mainFont, sans-serif;
              color: whitesmoke;
              background: #ca4f5496;
              margin: 0 auto;
            }
          }
          .price-of-product {
            text-align: center;
            margin-top: 25px;
            span {
              display: block;
              font-size: 28px;
              color: #d28087;
              font-family: mainFont, sans-serif;
              margin: 0 auto;
            }
          }
        }
        .cart-bonus-block {
          h2.bones-caption {
            font-family: mainFont, sans-serif;
            color: $site-color-with-opacity;
            font-size: 35px;
            padding: 10px 10px 10px 25px;
          }
        }
      }
    }
  }
  /* Sidenav */
  .sidenav {
    ul.sidenav-menu {
      margin: 0;
      li.active {
        background: rgb(221, 135, 143);
        a {
          color: whitesmoke !important;
          position: relative;
          border-bottom: none !important;
        }
        i.material-icons {
          display: block !important;
          position: absolute;
          left: -35px;
          color: whitesmoke;
          font-size: 20px;
        }
      }
      li:first-child {
        background: $site-color;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        a {
          text-align: center;
          font-size: 20px;
          color: whitesmoke;
          line-height: 56px;
          border-bottom: none !important;
        }
        margin-bottom: 10px;
        height: 56px;
      }
      li:not(:first-child) {
        a {
          i.material-icons {
            display: none;
          }
          color: #585555;
          font-family: mainFont, sans-serif;
          font-weight: normal;
          font-size: 14px;
          margin-left: 50px;
          padding: 0;
        }
      }
      li:not(:last-child) {
        a {
          border-bottom: 1px solid #e8e8e8;
        }
      }
    }
    .sidenav-block-bottom {
      position: absolute;
      bottom: 75px;
      margin-left: 24px;
      width: 92%;
      .sidenav-sitemap {
        a {
          color: $site-color;
          font-size: 15px;
          text-decoration: underline;
        }
        padding: 2px;
      }
      .sidenav-address {
        font-size: 13px;
        padding: 2px;
        color: #565656;
      }
      .sidenav-copyright {
        font-size: 13px;
        padding: 2px;
        color: #565656;
      }
    }
    .sidenav-cart-block {
      margin-top: 25px;
      margin-left: 30px;
      margin-right: 20px;
      .sidenav-cart-button {
        a.btn-floating {
          background: $site-color;
          width: 100px;
          height: 100px;
          i.material-icons {
            line-height: 100px;
            font-size: 3.0rem;
          }
        }
      }
      .sidenav-cart-information {
        padding: 10px;
        span.sidenav-cart-count {
          font-size: 18px;
          font-weight: bold;
          color: $site-color;
        }
        span.sidenav-cart-products {
          font-size: 18px;
          color: $site-color;
        }
        span.sidenav-cart-other-information {
          display: block;
          font-size: 13px;
          color: $site-color-with-opacity;
        }
      }
      .sidenav-cart-going {
        button.btn {
          background: $site-color-with-opacity;
          cursor: pointer;
          width: 100%;
          font-size: 17px;
          text-transform: none;
        }
      }
    }
  }
  .nav-content {
    .cart-block {
      width: 20%;
      position: absolute;
      right: 0;
      top: 17%;
      /*To fix bag with catalog button clicking*/
      height: 20px;
      .row {
        height: 20px;
        .col.cart-button-col {
          padding-right: 0;
        }
      }
    }
    .cart-big-button {
      float: right;
      background: #dd878e !important;
      i {
        color: white;
        line-height: 70px;
      }
      position: relative;
      right: 0;
      bottom: 0;
      width: 70px;
      height: 70px;
    }
  }
  .nav-wrapper .container {
    ul {
      padding-right: 11%;
    }
  }
}

// Media queries

@media only screen and (max-width: 1201px) {
  .header {
    .nav-wrapper .container {
      ul {
        padding-right: 14%;
      }
    }
  }
  #cartModal {
    .modal-footer .tabs li a {
      font-size: 18px !important;
    }
  }
}

@media only screen and (max-width: 1050px) {
  #cartModal {
    .modal-footer .tabs li a {
      font-size: 16px !important;
    }
  }
}

@media only screen and (max-width: 992px) {
  .header .nav-content .cart-block {
    top: 0;
    right: 5%;
    .cart-button-col {
      margin-top: 3%;
    }
    .cart-big-button {
      width: 50px;
      height: 50px;
      bottom: 1%;
      i {
        line-height: 50px;
      }
    }
  }
  #cartModal {
    .modal-content {
      #secondStep, #thirdStep {
        padding: 10px 15px 15px 15px !important;
      }
      #firstStep {
        padding: 30px 15px 15px 15px !important;
      }
    }
    .modal-header {
      h3 {
        font-size: 28px;
      }
      i.icon-in-header {
        font-size: 28px;
      }
    }
  }
  #cartModal {
    .modal-content {
      .cart-content {
        h3.cart-head-caption {
          padding: 10px 6px 6px 6px !important;
        }
      }
    }
  }
  #cartModal {
    .modal-content {
      .cart-content {
        .row.product-row {
          .count-of-product {
            span {
              width: 47px !important;
              height: 47px !important;
              line-height: 47px !important;
              font-size: 23px !important;
            }
          }
          .price-of-product {
            span {
              font-size: 22px !important;
            }
          }
        }
      }
    }
  }

  #cartModal {
    .modal-header {
      i.material-icons.icon-in-header {
        font-size: 25px !important;
        left: 33px !important;
      }
      h3 {
        margin-bottom: 0 !important;
        font-size: 25px !important;
      }
      h6 {
        font-size: 14px !important;
        padding-left: 13px !important;
        display: block !important;
      }
      i.material-icons.modal-close {
        font-size: 28px !important;
      }
    }
  }

}

@media only screen and (max-width: 750px) {
  #cartModal {
    .modal-footer .tabs li a {
      font-size: 13px !important;
    }
    .modal-content {
      .cart-content {
        margin-top: 80px !important;
        .row.product-row {
          .name-of-product {
            h5 {
              margin: 0 !important;
            }
          }
          .count-of-product {
            span {
              width: 40px !important;
              height: 40px !important;
              line-height: 40px !important;
              font-size: 20px !important;
            }
          }
          .price-of-product {
            span {
              font-size: 18px !important;
            }
          }
        }
        h3.cart-head-caption {
          font-size: 17px !important;
          padding: 10px 6px 6px 6px !important;
        }
      }
    }
  }
  #cartModal {
    .modal-header {
      h3 {
        margin-left: 45px !important;
        font-size: 22px !important;
      }
      i.material-icons.icon-in-header {
        font-size: 23px !important;
      }
    }
  }
}
@media only screen and (min-width: 600px) and (max-width: 700px) {
  #cartModal {
    #firstStep {
      .product-row {
        .product-info-col {
          .name-of-product {
            h5 {
              font-size: 16px;
            }
            p {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 650px) {
  #cartModal {
    .modal-footer .tabs li a {
      font-size: 12px !important;
    }
  }
}

@media only screen and (max-width: 600px) {
  .header .nav-content .cart-block {
    .cart-big-button {
      margin-top: 5%;
      width: 40px;
      height: 40px;
      i {
        line-height: 40px;
      }
    }
  }
  #cartModal {
    .modal-content {
      .cart-content {
        margin-top: 90px !important;
        .cart-bonus-block {
          h2.bones-caption {
            font-size: 27px !important;
          }
        }
      }
    }
  }
  #cartModal {
    width: 92% !important;
  }
}

@media only screen and (max-width: 400px) {
  #cartModal {
    .modal-content {
      .modal-header {
        height: 90px !important;
      }
    }
  }
  .header .sidenav {
    width: 75%;
    ul.sidenav-menu {
      li.active {
        i.material-icons {
          display: block !important;
          position: absolute;
          left: unset;
          right: 0;
          color: whitesmoke;
        }
      }
    }
    .sidenav-block-bottom {
      margin-left: 10px;
      .sidenav-sitemap {
        a {
          font-size: 14px;
        }
      }
      .sidenav-address {
        font-size: 12px;
      }
      .sidenav-copyright {
        font-size: 12px;
      }
    }
    .sidenav-cart-block {
      .sidenav-cart-button {
        a.btn-floating {
          width: 82px;
          height: 82px;
          i.material-icons {
            line-height: 82px;
            font-size: 2.4rem;
          }
        }
      }
      .sidenav-cart-information {
        span.sidenav-cart-count {
          font-size: 17px;
        }
        span.sidenav-cart-products {
          font-size: 17px;
        }
        span.sidenav-cart-other-information {
          font-size: 12px;
        }
      }
      .sidenav-cart-going {
        button.btn {
          font-size: 16px;
        }
      }
    }
  }

  .header .nav-content .cart-block {
    .row {
      .col:first-child {
        display: none;
      }
      .cart-button-col {
        margin-left: 50%;
      }
    }
  }

  .header .navbar-fixed a.brand-logo {
    left: 50% !important;
  }

  .header {
    #secondStepMinks {
      .row-name-phone {
        .input-field {
          width: 100%;
        }
      }
    }
    .sidenav {
      ul.sidenav-menu {
        li:not(:first-child) {
          a {
            font-size: 16px;
            margin-left: 30px;
          }
        }
      }
    }
  }

  #cartModal {
    .modal-header {
      height: 86px !important;
      h3 {
        margin-bottom: 0 !important;
      }
      h6 {
        font-size: 14px !important;
        padding-left: 13px !important;
        display: block !important;
      }
    }
  }

}

@media only screen and (max-width: 630px) {
  .header .navbar-fixed a.brand-logo {
    font-size: 1.45rem;
  }
}

@media only screen and (max-width: 450px) {
  .header .navbar-fixed a.brand-logo {
    font-size: 1.3rem;
  }
  #cartModal {
    .modal-content {
      .cart-content {
        &#firstStep {
          padding: 15px 5px 5px 5px !important;
        }
        .row.product-row {
          .name-of-product {
            h5 {
              font-size: 15px !important;
            }
            p {
              font-size: 12px !important;
            }
          }
          .price-of-product-mobile {
            span {
              font-size: 16px !important;
            }
          }
          .count-of-product-mobile {
            span {
              font-size: 14px !important;
            }
          }
        }
        .image-col {
          width: 35%;
        }
        .product-info-col {
          width: 62%;
        }
        .cart-bonus-block {
          h2.bones-caption {
            font-size: 20px !important;
          }
        }
      }
    }
    .modal-footer {
      .button-left {
        i.material-icons.cart-icon-left {
          top: 32%;
          font-size: 23px;
          padding-left: 12px;
        }
        a {
          padding: 4px 35px !important;
          font-size: 14px !important;
        }
      }
      .button-right {
        i.material-icons.cart-icon-right {
          top: 32%;
          font-size: 23px;
          padding-right: 12px;
        }
        a {
          padding: 4px 35px !important;
          font-size: 14px !important;
        }
      }
    }
  }
}

/* Specific screen sizes */

@media only screen and (max-width: 790px) {
  .header .navbar-fixed a.brand-logo {
    left: 30%;
  }
  .header .nav-content .cart-block {
    width: 25%;
  }
}

@media only screen and (max-width: 630px) {
  .header .nav-content .cart-block {
    width: 30%;
  }
}

@media only screen and (max-width: 530px) {
  .header .nav-content .cart-block {
    width: 40%;
  }
}

@media only screen and (max-height: 640px) {
  .sidenav {
    .sidenav-block-bottom {
      display: none;
    }
  }
}

@media only screen and (max-height: 850px) and (min-width: 768px) {
  #cartModal {
    .modal-header {
      height: 13% !important;
    }
  }
}

@media only screen and (max-height: 750px) and (min-width: 768px) {
  #cartModal {
    .modal-header {
      height: 17% !important;
    }
  }
}

@media only screen and (max-height: 650px) and (min-width: 768px) {
  #cartModal {
    .modal-header {
      height: 17% !important;
    }
  }
}